.parent
{
    display: flex;
}
.sidebar
{
    display:flex;
    justify-content: center;
    height: 90vh;
    width: 20%;
    background-color: #ecf0f1;
    margin-left: -1%;
    margin-right: 2%;
}
.buttons{
    margin-top: 10%;
}
.new-btn{
    border-radius: 12px !important;
}
.drp
{
    max-width: 100%;
}